body{
    background: linear-gradient(#ecc0fc, #d6fcc0);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: #d030f0;
    font-size: 60px;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
h2{
    text-align: center;
    color: #72aded;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    text-align:center;

}
table, th, td{
    border: 1px solid black;
    width=100%
}

th{
    Width: 20%;
}

td{
    text-align: center;
}