html{
    background: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Background-Images-21.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    position: relative;
    left: 100px;
    color: #42b9f5;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

table{
    width: 50%;
    height: 100%;
    position: relative;
    left: 100px;
}

th{
    width:25%;
    font-weight: normal;
    text-align: left;
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

td{
    width:75%;
}


.width{
    width: 308px;
}

.width2{
    width: 150px;
}

.width3{
    width: 95px
}

.width4{
    width: 102px;
}

.button{
    border-radius: 12px;
    background-color: white;
    border: 2px solid #42b9f5;
    transition-duration: .4s;
    padding: 12px 28px;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    color: black;
    position: relative;
    left: 100px;
}

.button:hover{
    background-color: #42b9f5;
    color:white;
}

select{
    color:black;
    margin:10px;
}

input{
    padding:20px;
    margin:10px;
}